files: ^mip/
exclude: ^mip/_version.py
repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      args: [--line-length=89]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      args: [--select=F401, --exclude=__init__.py]
