name: CI

on: [push, pull_request]

jobs:

  pre-commit:

    runs-on: ubuntu-22.04

    steps:

      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Check pre-commit version
        run: pre-commit --version

      - name: Set up hooks
        run: pre-commit install

      - name: Check style
        run: pre-commit run --all-files


  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "pypy3.9-v7.3.15"]
        os: [macos-11, macos-12, ubuntu-20.04, ubuntu-22.04, windows-2019, windows-2022]
        exclude:
          # temporarily exclude pypy3 on mac-os as there failing tests caused by bug on cbc side
          - os: macos-11
            python-version: "pypy3.9-v7.3.15"
          - os: macos-12
            python-version: "pypy3.9-v7.3.15"

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: 'pip'

    - name: Check python version
      run: python -c "import sys; import platform; print('Python %s implementation %s on %s' % (sys.version, platform.python_implementation(), sys.platform))"

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install test and numpy
      run: python -m pip install .[test,numpy]

    - name: Install gurobi
      if: ${{ matrix.python-version != 'pypy3.9-v7.3.15' }}
      run: python -m pip install .[gurobi]

    - name: Install highs
      if: ${{ !contains(matrix.os, 'windows') && !(matrix.os == 'ubuntu-22.04' && matrix.python-version == '3.9') }}
      run: python -m pip install .[highs]

    - name: list installed packages
      run: python -m pip list

    - name: Run tests
      run: python -m pytest test --verbose --color=yes --doctest-modules -Werror
