name: CI

on: [push, pull_request]

jobs:

  style:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: python -m pip install flake8 black

      - name: check style with black
        run: python -m black mip --line-length=89 --check

      - name: check for unused imports with flake8
        run: python -m flake8 mip --select=F401 --exclude=__init__.py


  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [pypy3]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Check python version
      run: python -c "import sys; import platform; print('Python %s implementation %s on %s' % (sys.version, platform.python_implementation(), sys.platform))"

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies CPython
      run: python -m pip install cffi pytest networkx "numpy>=1.17.0" matplotlib
      if: ${{ matrix.python-version }} != 'pypy3'

    - name: Install dependencies PyPy
      run: python -m pip install cffi pytest networkx "numpy>=1.17.0"
      if: ${{ matrix.python-version }} == 'pypy3'

    - name: Install dependencies
      run: python -m pip install .

    - name: list installed packages
      run: python -m pip list

    - name: run tests
      run: |
        python -m pytest test --verbose --color=yes --doctest-modules
        python -m pytest mip --verbose --color=yes --doctest-modules --ignore="mip/gurobi.py"
